* {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
  padding-left: 20px;
  height: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.head-logo {
  height: 70px;
  width: 165px;
  padding: 17.41px 33.261px 17.087px 14.348px;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0px;
}

.head-link {
  display: flex;
  text-transform: capitalize;
  margin-left: 20px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 50%;
  color: #fafafa;
}

.head-link a {
  font-weight: 600;
  text-decoration: none;
    color: darkorchid;
    text-transform: capitalize;
    font-size: 17px;
}

.my-button {
  display: flex;
  padding: 14px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
  width: 150px;
  height: 40px;
  color: #fafafa;
  text-transform: capitalize;
  margin-right: 50px;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 180px!important;
  padding-left: 100px;
  padding-right: 100px;
}


.carousel-caption h5 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.carousel-caption p {
  top: 2rem;
  font-size: 18px;
  color: white;
}

.slider-btn {
  margin-top: 30px;
}

.slider-btn .btn {
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
  color: white;
  border-radius: 0;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #4a5568;
}

.article {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 1300px;
  height: 546px;
  margin-left: 50px;
}

.second-logo {
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

.great {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  width: 450px;
  height: 130px;
  margin-top: 40px;
}

.facilities {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
}

.greater {
  width: 550px;
  height: 330px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.maintained {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

.teams {
  background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.Paragraph {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 450px;
  height: 58px;
  /* margin-top: 40px; */
}

.screen-button {
  display: flex;
  padding: 19px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.services {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  width: 400px;
  height: 41px;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 46px;
  margin-bottom: 73px;
}

.service {
  width: 0%;
  height: 100vh;
  background: var(--shade-light-background, #f9f9ff);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  align-items: center;
  justify-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-left: 170px;
}

.img {
  width: 250px;
  height: 250px;
}

.leading {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 30px;
  width: 474px;
  height: 108px;
}

.develop {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

.we {
  width: 535px;
  height: 181px;
  color: var(--gray-gray-600, #718096);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.add {
  background: var(
    --gradient-primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.down-img {
  width: 601px;
  height: 460px;
  flex-shrink: 0;
  margin-left: 100px;
}

.top-lead {
  display: flex;
  justify-content: center;
  margin-top: 185px;
}

.first-line {
  width: 100%;
  height: 1px;
  background: #e7daed;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: #57007b;
}

.right-arrow {
  text-decoration: none;
  border: none;
  text-align: center;
  margin-top: 3px;
}

.meet {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  width: 412px;
  height: 108px;
  margin-top: 26px;
}

.working {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

.light {
  width: 69px;
  height: 5px;
  background: var(
    --gradient-primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
}

.whole {
  margin-left: 125px;
  margin-top: 200px;
  margin-bottom: 72px;
  /* display: flex; */
  width: 412px;
  height: 133px;
}

.fa-regular {
  margin-right: 22px;
  margin-bottom: 32px;
  width: 22.5px;
  height: 22.5px;
  flex-shrink: 0;
  font-size: 25px;
  color: #57007b;
}

.fa-circle-right {
  margin-right: 22px;
  margin-bottom: 32px;
  width: 22.5px;
  height: 22.5px;
  flex-shrink: 0;
  color: #57007b;
  font-size: 25px;
}

.arrows {
  position: absolute;
  right: 100px;
}

.rectangle {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background: #f7f7fa;
}

.images {
  width: 150px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  margin-top: 20px;
}

.top-write {
  width: 474px;
  height: 108px;
  margin: auto;
  margin-top: 20px;
}

.light-two {
  width: 69px;
  height: 5px;
  background: var(
    --gradient-primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
  margin: auto;
}

.customers {
  width: 474px;
  height: 108px;
  color: var(--gray-gray-900, #1a202c);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 50px;
}

.with-us {
  color: var(--gray-gray-900, #1a202c);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

body > div:nth-child(11) {
  margin-top: 120px;
}

.Without {
  width: 520px;
  height: 181px;
  flex-shrink: 0;
  color: var(--gray-gray-600, #718096);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: auto;
  margin-top: 51px;
}

.fa-circle-left {
  position: absolute;
  left: 150px;
  margin-top: 250px;
}

body > div:nth-child(11) > div > i {
  position: absolute;
  right: 150px;
  margin-top: -115px;
}

body > div:nth-child(11) > div > div:nth-child(3) > svg:nth-child(1) {
  position: absolute;
  left: 350px;
  margin-top: -20px;
}

body > div:nth-child(11) > div > div:nth-child(3) > svg:nth-child(3) {
  position: absolute;
  right: 350px;
  margin-top: -100px;
}

body > div.article > div:nth-child(2) > i.fa.fa-wrench {
  font-size: 50px;
  color: rgb(255, 118, 80);
  position: absolute;
  top: 150px;
  left: 50%;
}

body > div.article > div:nth-child(2) > i.fa-solid.fa-gear {
  font-size: 50px;
  color: rgb(255, 118, 80);
  position: absolute;
  top: 10%;
  right: 5%;
 }

 body > div.article > div:nth-child(2) > i.fa.fa-home {
  font-size: 50px;
  color:black;
  position: absolute;
  top: 50%;
  right: 10%;
 } 

 .imgs {
  width: 85px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 50px;
 }

 body > div:nth-child(12) {
  display: flex;
  justify-content: space-evenly;
 }

 .fa-star { 
  color: yellow;
}

:root{
  --sitecolor: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  --gradient: 225deg, #F76680 0%, #57007B 100%;
  --text-lighter: rgb(46, 58, 92);
  --text: rgb(26, 30, 46);
  --border: .1rem solid rgba(107, 50, 172, 0.185);
  --section-padding: 7rem 0rem 4rem 0rem;
  --light-blue: rgba(74, 85, 104, 1);
  --lighter-blue: rgba(113, 128, 150, 1);
}
.title h2{
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  line-height: 55px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.title h2::after{
  content: "";
  width: 69px;
  height: .26rem;
  position: absolute;
  background: var(--sitecolor);
  top: -1.8rem;
}

.title h2 span{
  font-weight: 900;
}

a{
  cursor: pointer;
}

/* ============ Case-Study-Section ============ */

.caseStudy{
  padding: var(--section-padding);
}

.caseStudy .box{
  background-color: rgba(74, 86, 255, 0.062);
  border-radius: .6rem 1.7rem 1.7rem .6rem;
  border: var(--border);
  margin: 2.3rem 0;
}

.caseStudy .box:nth-child(2){
  background-color: rgba(104, 255, 74, 0.062);
}

.caseStudy .box:nth-child(3){
  background-color: rgba(255, 74, 74, 0.062);
}


.caseStudy .box .image{
  width: 50%;
  border-radius: .6rem;
  overflow: hidden;
}

.caseStudy .box .content{
  width: 50%;
  font-weight: 600;
  padding: 3rem;
}

.caseStudy .box .content .head{
  color: var(--text-lighter);
  font-size: 27px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  margin-bottom: 1.2rem;
}

.caseStudy .box .content .body{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-lighter);
  margin-bottom: 2.2rem;
}

.caseStudy .box .content .readMore{
  font-size: 14px;
  display: inline;
  float: right;

  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caseStudy .readMoreCase{
  
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  display: inline;
  float: right;

  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ============ Software-Section ============ */


.software{
  padding: var(--section-padding);
  border-top: var(--border);
  border-bottom: var(--border);
}

.software .content .head{

  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  margin-bottom: 1.2rem;
}


.software .content .body .txt1{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left; 
}

.software .content .body .txt2{
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.9rem;
  padding: 1.4rem 0;
}

.software .content .body .txt2 span{

  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.software .content .body .txt3{
  padding-right: 4.5rem;
  padding-left: 1.5rem;
  border-left-width: .23rem;
  border-left-style: solid;
  border-image: linear-gradient(var(--gradient)) 1;

  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.software .content .body .txt3 i{
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--sitecolor);
}

.software .image img{
  border-radius: .6rem;
}

.software .content .body .profile{
  padding: 1rem 0;
}

.software .content .body .profile .image{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.software .content .body .profile .txt1{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.software .content .body .profile .txt2{
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -2rem;
  color: var(--text-lighter);
}

/* ============ Development-Section ============ */

.development{
  padding: var(--section-padding);
}

.development .box{
  display: flex;
  border: var(--border);
  padding: 40px 30px;
  background: #fafafa;
  margin: 15px 0;
}

.development .box .img .imgBox,
.development .box .img .imgBox2,
.development .box .img .imgBox3,
.development .box .img .imgBox4,
.development .box .img .imgBox5,
.development .box .img .imgBox6{
  width: 59px;
  height: 56px;
  border-radius: 10px;
  background: linear-gradient(225deg, #29272E 0%, #27272E 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.development .box .img .imgBox2{
  background: linear-gradient(225deg, #68DBF2 0.01%, #509CF5 100%) !important;
}

.development .box .img .imgBox3{
  background: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
}

.development .box .img .imgBox4{
  background: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);
}

.development .box .img .imgBox5{
  background: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
}

.development .box .img .imgBox6{
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
}

.development .box .img img{
  width: 34px;
}

.development .box .content .head{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.development .box .content .body{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}


/* ============ Alcaline-Section ============ */


.alcaline{
  padding: var(--section-padding);
  background: #fff;
  border-top: var(--border);
}

.alcaline .row1{
  margin-bottom: -20px;
}

.alcaline .row2{
  margin-top: -35px;
}

.alcaline .cover{
  width: 310px;
}

.alcaline .box{
  height: 160px;
  padding: 15px;
  border-radius: 9px;
  border: var(--border);
}

.alcaline .box .head{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.005em;
  text-align: left;
  padding-bottom: .7rem;
}

.alcaline .box .head span{
  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: .7rem;
}

.alcaline .box .body{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
}

.alcaline .row1 .line{
  width: 2px;
  height: 34px;
  background: red;
  margin: 0px auto;
  margin-top: 14px;
}

.alcaline .row2 .line{
  width: 2px;
  height: 34px;
  background: red;
  margin: 14px auto;
}

.alcaline .middle-line .line{
  width: 95%;
  height: 2px;
  background: red;
}

.alcaline .middle-line .img img{
  width: 42px;
  top: 9603px;
  left: 1293px;
}


/* ============ Featured-Section ============ */


.featured{
  padding: var(--section-padding);
}

.featured-slider{
position: relative;
display: flex;
  justify-content: center;
align-items: center;
}

.slider-container{
padding: 1.4rem 0;
display: flex;
width: 100%;
overflow: auto;
  justify-content: center;
}

.slider-container::-webkit-scrollbar{
  width: 0;
}

.slider-container::-webkit-scrollbar-track{
  background: transparent;
}

.slider-container::-webkit-scrollbar-thumb{
  background: transparent;
}

.slider-container .sliderBox{
  margin: 1.2rem;
}

.slider-container .sliderBox img{
  width: 14rem;
}

.slider-container .sliderBox .content .body{
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0;
}

.slider-container .sliderBox .content .readMore{
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
  color: #57007B;
}

.slider-container .sliderBox .content .readMore i{
  font-size: 16px;
  color: #57007B;
}


/* ============ Banner-Section ============ */

.banner .bannerBox{
  background: linear-gradient(225deg, #F1F1F5 0%, #E4ECF7 100%);
  height: 285px;
  top: 10587px;
  border-radius: 20px;
  align-items: center;
}

.banner .bannerBox .content{
  height: 100%;
  padding-right: 10px;
}

.banner .bannerBox .content .body{
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

.banner .bannerBox .button{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
}

.banner .bannerBox .button img{
  width: 119.46px;
  position: absolute;
}

.banner .bannerBox .button .btn{
  width: 262px;
  height: 57px;
  top: 10701px;
  left: 989px;
  padding: 14px, 25px, 14px, 25px;
  border-radius: 5px;
  border: 1px;
  background: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.005em;
  color: white;
}


/* ============ Footer-Section ============ */

footer{
  padding: 120px 0 0px;
}

footer .txt{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 30px;
  color: var(--lighter-blue);
}

footer .content1 .img img{
  width: 199px;
}

footer .content2 a{
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: var(--lighter-blue) !important;
}

footer .head{
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.005em;
  text-align: left;
  padding-bottom: 10px;
  color: var(--light-blue);
}

footer .icon{
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

footer .icon{
  font-size: 14px;
}

footer .copyRight{
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -0.005em;
  text-align: center;
  padding: 40px 0;
  border-top: var(--border);
}



/* ============ Responsiveness-xl ============ */

@media (max-width: 1200px) {

  /* ============ Case-Study-Section ============ */

  .caseStudy .box .content{
      padding:2.5rem;
  }
  
  .caseStudy .box .content .head{
      font-size: 24px;
  }

  /* ============ Alcaline-Section ============ */
  
  .alcaline .cover{
      width: 280px;
  }

  /* ============ Banner-Section ============ */

  .banner .bannerBox .content .body{
      font-size: 28px;
  }

  .banner .bannerBox .button img{
      width: 110px;
  }

  .banner .bannerBox .button .btn{
      width: 250px;
      height: 54px;
      font-size: 17px;
  }

  
}

/* ============ Responsiveness-lg ============ */

@media (max-width: 992px) {

  /* ============ Case-Study-Section ============ */

  .caseStudy .box{
      border-radius: .6rem .6rem 1.7rem 1.7rem;
  }

  .caseStudy .box .image{
      width: 100%;
  }

  .caseStudy .box .content{
      width: 100%;
      padding: 4rem;
  }

  /* ============ Alcaline-Section ============ */

  
  .alcaline .cover{
      width: 100%;
  }

  .alcaline .cover .box{
      padding: 20px;
  }

  .alcaline .row1 .line{
      margin: 14px auto;
  }

  /* ============ Banner-Section ============ */

  .banner .bannerBox{
      height: unset;
      padding: 30px;
  }

  .banner .bannerBox .content .body{
      font-size: 20px;
      line-height: 35px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .banner .bannerBox .button{
      padding: 90px 0px 60px;
  }

  .banner .bannerBox .button img{
      width: 100px;
  }

  .banner .bannerBox .button .btn{
      width: 230px;
      height: 50px;
      font-size: 17px;
  }

  /* ============ Footer-Section ============ */

  footer .content1,
  footer .content2,
  footer .content3,
  footer .content4{
      padding-bottom: 40px;
  }

}

/* ============ Responsiveness-sm ============ */

@media (max-width: 576px) {

  /* ============ General ============ */

  .title h2{
      font-size: 30px;
      line-height: 40px;
      font-weight: 400;
      margin-bottom: 0rem;
  }

  .title h2::after{
      top: -1.2rem !important;
  }
  /* ============ Case-Study-Section ============ */

  .caseStudy .box{
      background-color: rgba(74, 86, 255, 0.062);
      border-radius: .6rem 1.7rem 1.7rem .6rem;
      border: .1rem solid rgba(128, 128, 128, 0.137);
      margin: 2.3rem 0;
  }

  .caseStudy .box .content{
      padding: 2rem 1.4rem 4rem 1.4rem;
  }

  /* ============ Banner-Section ============ */

  .banner .bannerBox{
      padding: 30px 20px;
  }

}
